*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    color: aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    list-style-type: none;
}
body{
    background-color: rgb(0, 0, 0);
    overflow-y: hidden;
}
.logo, .cover{
    width: 40px;
    height: 40px;
    margin: 5px 15px 5px 5px;
}
#brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 30px;
    
}
header{
    position: sticky;
    top: 0;
}
nav ul{
    display:flex;
    align-items: center;
    background-color: rgb(38, 38, 38);
    font-size: large;
}
nav ul li{
    padding: 5px 15px 5px;
}
main{
    display: flex;
}
aside, section{
    height: 80vh;
    width: 700px;
    background-color: rgb(38, 38, 38);
    border-radius: 45px;
    border: 15px solid black;
}
aside{
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
    overflow-wrap: break-word;
}
aside img{
    position: relative;
    border-radius: 45px;
    height: 76vh;
    opacity: 0.3;
}
aside h2{
    position: absolute;
    text-align: center;
    width: 400px;
    height: auto;
    text-shadow:2px 2px black;
}
section{
    width: 100%;
    padding: 20px;
}
.songList li{
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    background: rgb(38, 38, 38);
    border: 1px solid aliceblue;
    border-radius: 20px;
    padding: 5px;
    margin:10px;
}
.songList li:hover{
    background: rgb(80, 80, 80);
}
.yourlib{
    max-width: 100%;
    max-height: 85%;
    padding: 15px;
    overflow: scroll;
    overflow-x: hidden;
}
.yourlib span{
    padding: 10px;
}
h1{
    font-size: 50px;
    padding: 5px;
}
footer{
    position: sticky;
    background-color: rgb(38, 38, 38);
    bottom: 0;
    height: 10vh;
    padding: 45px; 
    display: flex;
    align-items: center;
    justify-content: center; 
}
#seekbar{
    width:60%;
    margin-left: 20px;
    cursor: pointer;
}
i{
    margin: 15px;
}
.yourlib::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
.yourlib::-webkit-scrollbar-track {
    background: rgb(38, 38, 38);        /* color of the tracking area */
  }
  
.yourlib::-webkit-scrollbar-thumb {
    background-color: aliceblue;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid aliceblue;  /* creates padding around scroll thumb */
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
body::-webkit-scrollbar-track {
    background: rgb(38, 38, 38);        /* color of the tracking area */
  }
  
body::-webkit-scrollbar-thumb {
    background-color: aliceblue;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid aliceblue;  /* creates padding around scroll thumb */
}

@media only screen and (max-width: 1000px) {
    main {
      flex-direction: column    ;
    }
    aside, section{
        width: auto;
    }
    body{
        overflow-y: scroll;
    }
  }


